.login-container {
  background: url('../../assets/img/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  width: 100%;
  height: 100vh;

  .login-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}