{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "AdminOrder",
        "contact": {}
    },
    "host": "quantribanhang.viesoftware.vn",
    "basePath": "/api",
    "securityDefinitions": {},
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "paths": {
        "/authorization/login": {
            "post": {
                "summary": "Login",
                "tags": ["Authentication"],
                "operationId": "Login",
                "deprecated": false,
                "produces": ["application/json"],
                "consumes": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "enum": ["application/json"],
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/LoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/authorization/refreshtoken": {
            "post": {
                "summary": "Refresh Token",
                "tags": ["Authentication"],
                "operationId": "RefreshToken",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/RefreshTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/authorization/checkvertifylink": {
            "post": {
                "summary": "Check Vertify Links",
                "tags": ["Authentication"],
                "operationId": "CheckVertifyLinks",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CheckVertifyLinksRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/authorization/getotp": {
            "post": {
                "summary": "Get OTP",
                "tags": ["Authentication"],
                "operationId": "GetOTP",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GetOTPRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/authorization/vertifyotp": {
            "post": {
                "summary": "vertify OTP",
                "tags": ["Authentication"],
                "operationId": "vertifyOTP",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/vertifyOTPRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/user/getuser": {
            "get": {
                "summary": "Get User",
                "tags": ["User"],
                "operationId": "GetUser",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "business_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "creator_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "branch_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "store_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "role_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "today",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "yesterday",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "district",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "province",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/user/register": {
            "post": {
                "summary": "register",
                "tags": ["User"],
                "operationId": "register",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/registerrequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/user/adduser": {
            "post": {
                "summary": "Add User",
                "tags": ["User"],
                "operationId": "AddUser",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddUserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/user/forgotpassword": {
            "post": {
                "summary": "Recovery pasword",
                "tags": ["User"],
                "operationId": "Recoverypasword",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/RecoverypaswordRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/user/updateuser/{user_id}": {
            "patch": {
                "summary": "Update User",
                "tags": ["User"],
                "operationId": "UpdateUser",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateUserRequest"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/role/getrole": {
            "get": {
                "summary": "Get Role",
                "tags": ["Role"],
                "operationId": "GetRole",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "role_id",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "business_id",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "creator_id",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "default",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "today",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "yesterday",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "this_week",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "last_week",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "this_month",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "last_month",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "this_year",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "last_year",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/role/addrole": {
            "post": {
                "summary": "Add Role",
                "tags": ["Role"],
                "operationId": "AddRole",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddRoleRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/role/updaterole/{role_id}": {
            "patch": {
                "summary": "Update Role",
                "tags": ["Role"],
                "operationId": "UpdateRole",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateRoleRequest"
                        }
                    },
                    {
                        "name": "role_id",
                        "in": "path",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/action/getaction": {
            "get": {
                "summary": "Get Action",
                "tags": ["Action history"],
                "operationId": "GetAction",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "business_id",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "performer_id",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "today",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "yesterday",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/address/getward": {
            "get": {
                "summary": "Get Ward",
                "tags": ["Address"],
                "operationId": "GetWard",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "ward_code",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "ward_name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "district_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "district_name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "province_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "province_name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/address/getdistrict": {
            "get": {
                "summary": "Get District",
                "tags": ["Address"],
                "operationId": "GetDistrict",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "district_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "disctrict_name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "province_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "province_name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/address/getprovince": {
            "get": {
                "summary": "Get Province",
                "tags": ["Address"],
                "operationId": "GetProvince",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "province_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "province_name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/address/getcountry": {
            "get": {
                "summary": "Get Country",
                "tags": ["Address"],
                "operationId": "GetCountry",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/branch/getbranch": {
            "get": {
                "summary": "Get Branch",
                "tags": ["Branch"],
                "operationId": "GetBranch",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "branch_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "business_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "creator_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "today",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "yesterday",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "warehouse_type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "district",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "province",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/branch/addbranch": {
            "post": {
                "summary": "Add Branch",
                "tags": ["Branch"],
                "operationId": "AddBranch",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddBranchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/branch/updatebranch/{branch_id}": {
            "patch": {
                "summary": "Update Branch",
                "tags": ["Branch"],
                "operationId": "UpdateBranch",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateBranchRequest"
                        }
                    },
                    {
                        "name": "branch_id",
                        "in": "path",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/label/getlabel": {
            "get": {
                "summary": "Get Label",
                "tags": ["Label"],
                "operationId": "GetLabel",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/label/addlabel": {
            "post": {
                "summary": "Add Label",
                "tags": ["Label"],
                "operationId": "AddLabel",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddLabelRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/label/updatelabel/{label_id}": {
            "patch": {
                "summary": "Update Label",
                "tags": ["Label"],
                "operationId": "UpdateLabel",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateLabelRequest"
                        }
                    },
                    {
                        "name": "label_id",
                        "in": "path",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/store/getstore": {
            "get": {
                "summary": "Get Store",
                "tags": ["Store"],
                "operationId": "GetStore",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "store_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "branch_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "business_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "creator_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "today",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "yesterday",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "district",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "province",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/store/addstore": {
            "post": {
                "summary": "Add Store",
                "tags": ["Store"],
                "operationId": "AddStore",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddStoreRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/store/updatestore/{store_id}": {
            "patch": {
                "summary": "Update Store",
                "tags": ["Store"],
                "operationId": "UpdateStore",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateStoreRequest"
                        }
                    },
                    {
                        "name": "store_id",
                        "in": "path",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/category/getcategory": {
            "get": {
                "summary": "Get Category",
                "tags": ["Category"],
                "operationId": "GetCategory",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "business_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "today",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "yesterday",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "detach",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/category/addcategory": {
            "post": {
                "summary": "Add Category",
                "tags": ["Category"],
                "operationId": "AddCategory",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddCategoryRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/category/updatecategory/{category_id}": {
            "patch": {
                "summary": "Update Category",
                "tags": ["Category"],
                "operationId": "UpdateCategory",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateCategoryRequest"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "path",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/category/deletecategory": {
            "delete": {
                "summary": "Delete Category",
                "tags": ["Category"],
                "operationId": "DeleteCategory",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/deal/getdeal": {
            "get": {
                "summary": "Get Deal",
                "tags": ["Deal"],
                "operationId": "GetDeal",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "deal_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/deal/adddeal": {
            "post": {
                "summary": "Add Deal",
                "tags": ["Deal"],
                "operationId": "AddDeal",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddDealRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/deal/updatedeal/18": {
            "patch": {
                "summary": "Update Deal",
                "tags": ["Deal"],
                "operationId": "UpdateDeal",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateDealRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/deal/updatesaleofvalue": {
            "patch": {
                "summary": "Update Multiple Deal Sale Of Value",
                "tags": ["Deal"],
                "operationId": "UpdateMultipleDealSaleOfValue",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateMultipleDealSaleOfValueRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/deal/deletedeal": {
            "delete": {
                "summary": "Delete Deal",
                "tags": ["Deal"],
                "operationId": "DeleteDeal",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "deal_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DeleteDealRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/supplier/getsupplier": {
            "get": {
                "summary": "Get Supplier",
                "tags": ["Supplier"],
                "operationId": "GetSupplier",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/supplier/addsupplier": {
            "post": {
                "summary": "Create Supplier",
                "tags": ["Supplier"],
                "operationId": "CreateSupplier",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CreateSupplierRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/supplier/updatesupplier/{supplier_id}": {
            "patch": {
                "summary": "Update Supplier",
                "tags": ["Supplier"],
                "operationId": "UpdateSupplier",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateSupplierRequest"
                        }
                    },
                    {
                        "name": "supplier_id",
                        "in": "path",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/customer/getcustomer": {
            "get": {
                "summary": "Get Customer",
                "tags": ["Customer"],
                "operationId": "GetCustomer",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "business_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "district",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "province",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "_business",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "_creator",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "today",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "yesterday",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/customer/addcustomer": {
            "post": {
                "summary": "Add Customer",
                "tags": ["Customer"],
                "operationId": "AddCustomer",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddCustomerRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/customer/updatecustomer/{customer_id}": {
            "patch": {
                "summary": "Update Customer",
                "tags": ["Customer"],
                "operationId": "UpdateCustomer",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateCustomerRequest"
                        }
                    },
                    {
                        "name": "customer_id",
                        "in": "path",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/tax/gettax": {
            "get": {
                "summary": "Get tax",
                "tags": ["Tax"],
                "operationId": "Gettax",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/tax/addtax": {
            "post": {
                "summary": "Add tax",
                "tags": ["Tax"],
                "operationId": "Addtax",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddtaxRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/tax/updatetax/{tax_id}": {
            "patch": {
                "summary": "Update tax",
                "tags": ["Tax"],
                "operationId": "Updatetax",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdatetaxRequest"
                        }
                    },
                    {
                        "name": "tax_id",
                        "in": "path",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/shippingcompany/getshippingcompany": {
            "get": {
                "summary": "Get Shipping Company",
                "tags": ["ShippingCompany"],
                "operationId": "GetShippingCompany",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "shipping_company_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "business_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "creator_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "today",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "yesterday",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_month",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "last_year",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "district",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "province",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "_business",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "_creator",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/shippingcompany/addshippingcompany": {
            "post": {
                "summary": "Add Shipping Company",
                "tags": ["ShippingCompany"],
                "operationId": "AddShippingCompany",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddShippingCompanyRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/shippingcompany/updateshippingcompany/{shipping_company_id}": {
            "patch": {
                "summary": "Update Shipping Company",
                "tags": ["ShippingCompany"],
                "operationId": "UpdateShippingCompany",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "required": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateShippingCompanyRequest"
                        }
                    },
                    {
                        "name": "shipping_company_id",
                        "in": "path",
                        "required": false,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                },
                "security": []
            }
        },
        "/topping/gettopping": {
            "get": {
                "summary": "Get Topping",
                "tags": ["Topping"],
                "operationId": "GetTopping",
                "deprecated": false,
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "topping_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": ""
                    },
                    {
                        "name": "yesterday",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
                    },
                    {
                        "name": "this_week",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": ""
[...]
