.login-container {
  background: url('../../assets/img/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  width: 100%;
  height: 100vh;

  .login-content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-click {
      text-align: right;
      font-size: 18px; 
      margin: 0px 0px 20px 0px; 
      color: white;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        color: rgb(146, 207, 243);
      }
    }
  }
}